<section class="windfury">
    <script type="application/javascript">
        (function($, wf){
            function User(){
                this.lastEpisodeWords = [];
                this.historyWords = [];
                this.historyEpisodes = [];
            }
            
            User.prototype.readEpisode = function(episode){
                var wordsFound = episode.wordsFound || [];
                this.lastEpisodeWords = wordsFound;
                
                for(var i=0; $.oplt(i, wordsFound.length); i++){
                    if(this.historyWords.indexOf(wordsFound[i]) === -1){
                        this.historyWords.push(wordsFound[i]);
                    }
                }
                
                this.pushEpisode(episode);
            }
            
            User.prototype.pushEpisode = function(episode){
                if(this.historyEpisodes.indexOf(episode.id) === -1){
                    this.historyEpisodes.push(episode.id);
                }
            }
            
            User.prototype.userObject = function(){
                return {
                    lastEpisodeWords:this.lastEpisodeWords,
                    historyWords:this.historyWords,
                    historyEpisodes:this.historyEpisodes
                }
            }
            
            var _user = new User();
            
            function user(){
                return _user;   
            }
            
            wf.def({
                user: user
            });
            
        })(jQuery, windfury);
    </script>
</section>