body {
	padding-top: 50px;
}

.template {
	display: none;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.episode {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 10px;
}

.episode img {
	width: 800px;
}

.episode-navigation {
	margin-bottom: 10px;
}

select.character {
	width: auto;
}

.form-inline input.sentence {
	width: 700px;
}

.form-inline div.new-sentence {
	margin-bottom: 10px;
}

section.transcription .save {
	margin-top: 20px;
}

div.message {
	position: fixed;
	top: 8px;
	right: 50px;
	z-index: 2000;
	width: 500px;
}

table td, table th {
	padding: 8px;
}

div.bold {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}

div.word {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

div.word.selected {
  background: none repeat scroll 0 0 #428bca;
  border: medium none;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  padding: 0 10px;
}

div.paragraph div {
}

div.paragraph {
  vertical-align: middle;
  height: 40px;
}