body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.episode {
	text-align: center;	
}

.episode img{
	width: 800px;
}

.new-sentence {
	margin-top: 30px;
}

select.character {
	width: auto;	
}

.new-sentence input.sentence {
	width: 800px;	
}
