body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.episode {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 10px;	
}

.episode img{
	width: 800px;
}

select.character {
	width: auto;	
}

.form-inline input.sentence {
	width: 800px;	
}

section.transcription .save {
	margin-top: 20px;
}

div.message {
    position: fixed;
    top: 8px;
    right: 50px;
    z-index: 2000;
    width: 500px;
}
